.oferta {
    margin: 10px;
    border-radius: 10px;
    background-color: #e9e1fc;
    display: grid;
    grid-template-columns: 17% 83%;
    align-items: center; /* Centra verticalmente */
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;

    transition: all .1s linear;
}

.oferta:hover{
    background-color: rgba(89, 91, 212,0.5);
    cursor: pointer;
}

.oferta img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;

    display: block;
    margin: 0 auto;
}


.oferta div {
    padding: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.oferta p {
    margin: 5px 0;
    white-space: normal;
}

#content a {
    text-decoration: none;

}

@media (max-width:768px) {
    .oferta h2{
        font-size: 4vw;
    }

    .oferta p{
        margin: 2px 0;
        font-size: 3.5vw;
    }


    .oferta{
        align-items: start;
    }

    .oferta > div {
        padding: 5px 5px 20px 0px; margin: 0px;
    }

}