footer {
    background-color: #595bd4;
    padding: 2vw;
}

footer *::selection{
    background-color: #e9e1fc; /* Color de fondo */
    color: #595bd4;
}

footer > div {
    display: grid;
    grid-template-columns: auto auto auto;
}

footer > h3{
    padding-bottom: 1.2vw;
    text-align: center;
    color: #e9e1fc;
    
}

footer > div div ul li{
    list-style-type: none;
}

@media (max-width: 768px) {
    footer > div {
        display: grid;
        grid-template-columns: auto;
    }
}