h1{
    padding: 3vw 0;
}
p{
    font-weight: bold;
    border-bottom: 1px solid #181F1C;
}

label{
    display: block;
    padding-top: 1vw;
}

input, textarea , select{
    width: 100%;
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    font-size: 16px; /* Tamaño de fuente más grande */
    line-height: 1.5; /* Mejor legibilidad */
    background-color: #f9f9f9; /* Fondo sutil */
    box-sizing: border-box; /* Incluir padding y border en el cálculo de width */
    transition: all 0.3s ease; /* Transición suave en cambios */
}

/* Efecto de foco */
input:focus, textarea:focus,select:focus {
    border-color: #595bd4; /* Borde azul en foco */
    background-color: #fff; /* Fondo blanco en foco */
    box-shadow: 0 0 5px rgba(89, 91, 212, 0.5); /* Sombra azul sutil */
    outline: none; /* Elimina el borde predeterminado del navegador */
}

/* Estilo para el textarea */
textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
    min-height: 150px; /* Altura mínima para textarea */
    max-height: 300px; /* Altura máxima para textarea */
}

#formulario form{
    margin: 0 auto;
}

#formulario img{
    width: 80%;
    mix-blend-mode: multiply;

    align-self: center;
    display: block;
    margin: 0 auto;

}

#politica_privacidad{
    width: fit-content;
}

#politica_privacidad + label{
    display: inline;
}

#enviar {
    margin: 2vw 0; padding: 1vw;
    color: #e9e1fc;
    background-color: #595bd4;
    border: none;
    border-radius: 5px;

    transition: all .2s linear;
}

#enviar:hover{
    color: #181F1C;
    background-color: #e9e1fc;
    border: none;
    border-radius: 5px;box-shadow: 0px 0px 5px #181F1C;
    cursor: pointer;
}

/* Borde rojo para campos con error */
.error-border {
    border: 2px solid red;
}

/* Estilo para los mensajes de error */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}


#toggle-password1,#toggle-password2 {
    cursor: pointer;
    color: #181F1C;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;

    transition: all .1s linear;
}

#toggle-password1:hover,#toggle-password2:hover {
    background-color: #181F1C;
    color: #e9e1fc;
}


@media (max-width: 768px) {
    #formulario{
        grid-template-columns: auto;
    }

    #enviar{
        width: 100%;
        padding: 2vw;
    }
}