#tipo-usuario{
    border: 1px solid #ccc;
    width: fit-content;
    margin: 0 auto;
    padding: 1vw;
    background-color: #e9e1fc;
    border-radius: 5px;
}

#tipo-usuario .selected{
    background-color: #595bd4;
    color: #e9e1fc;

}

.toggle {
    z-index: 10;
    cursor: pointer;
    color: #181F1C;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    background: none;
    transition: all .1s linear;
}

#login{
    width: 40vw;
    margin: 0 auto;
    padding: 3vw;
}

.two-cols{
    padding: 1.2vw 0;
    place-items: center;
}

.two-cols h1{
    padding: 0 1vw;
}

label{
    display: block;
    padding-top: 1vw;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde gris claro */
    font-size: 16px; /* Tamaño de fuente más grande */
    line-height: 1.5; /* Mejor legibilidad */
    background-color: #f9f9f9; /* Fondo sutil */
    box-sizing: border-box; /* Incluir padding y border en el cálculo de width */
    transition: all 0.3s ease; /* Transición suave en cambios */
}

/* Efecto de foco */
input:focus {
    border-color: #595bd4; /* Borde azul en foco */
    background-color: #fff; /* Fondo blanco en foco */
    box-shadow: 0 0 5px rgba(89, 91, 212, 0.5); /* Sombra azul sutil */
    outline: none; /* Elimina el borde predeterminado del navegador */
}

#iniciar-sesion {
    margin: 2vw 0; padding: 1vw;
    color: #e9e1fc;
    background-color: #595bd4;
    border: none;
    border-radius: 5px;

    transition: all .2s linear;
}

#iniciar-sesion:hover{
    color: #181F1C;
    background-color: #e9e1fc;
    border: none;
    border-radius: 5px;box-shadow: 0px 0px 5px #181F1C;
    cursor: pointer;
}

#registrarse {
    margin: 2vw 0; padding: 1vw;
    color: #595bd4;
    background-color: #e9e1fc;
    border: none;
    border-radius: 5px;

    transition: all .2s linear;
}

#registrarse:hover{
    color: #181F1C;
    background-color: #e9e1fc;
    border: none;
    border-radius: 5px;box-shadow: 0px 0px 5px #181F1C;
    cursor: pointer;
}

@media (max-width: 768px) {

    #tipo-usuario{
        margin: 3vw auto;
        width: 50%;
    }

    .two-cols{
        grid-template-columns: auto;
    }

    .two-cols h1{
        font-size: 5vw;
    }

    .two-cols #login{
        width: 90%;
    }

    .two-cols #login button{
        display: block;
        width: 95%;
        padding: 3vw;
        margin: 1.5vw auto;
    }

}